<section class="bankfleet-forgot-password-page">
  <div class="bankfleet-forgot-password-page__glow bankfleet-forgot-password-page__glow--left"></div>
  <div class="bankfleet-forgot-password-page__glow bankfleet-forgot-password-page__glow--right"></div>
  <div class="bankfleet-forgot-password-layout">
    <section class="bankfleet-forgot-password">
      <div class="bankfleet-forgot-password__card">
        <div class="bankfleet-forgot-password__topbar">
          <a href="vista_login.html"class="bankfleet-btn-secondary">
            <img src="/frontend/public/assets/icons/icon_back.svg" alt="" class="bankfleet-btn-secondary__icon">
          </a>
        </div>
        <header class="bankfleet-forgot-password__header">
          <h2 class="bankfleet-forgot-password__title">Recuperar contraseña</h2>
          <p class="bankfleet-forgot-password__subtitle">Escribe tu correo electrónico registrado en
            <strong class="bankfleet-forgot-password__highlight">BANKFLEET</strong><br>
            Te enviaremos un código para verificar tu identidad.
          </p>
        </header>
        <form class="bankfleet-forgot-password__form">
          <div class="bankfleet-forgot-password__field">
            <label class="bankfleet-forgot-password__label">Correo electrónico</label>
            <div class="bankfleet-forgot-password__input-wrapper">
              <img src="/frontend/public/assets/icons/icon_email.svg" class="bankfleet-forgot-password__input-icon" alt="">
              <input type="email" class="bankfleet-forgot-password__input" placeholder="correo@gmail.com">
            </div>
          </div>
          <!-- BUTTON -->
          <div class="bankfleet-forgot-password__button-primary">
            <button type="button"class="bankfleet-btn bankfleet-btn--primary">Recibir código
              <img src="/frontend/public/assets/icons/icon_mail_white.svg" class="bankfleet-btn__icon" alt="">
            </button>
          </div>
        </form>
      </div>
    </section>
    <aside class="bankfleet-forgot-password-banner">
      <img src="/frontend/public/assets/images/img_banking8.jpg" alt="BANKFLEET" class="bankfleet-register-step1-banner__image">
      <div class="bankfleet-forgot-password-banner__overlay"></div>
      <div class="bankfleet-forgot-password-banner__card">
        <span class="bankfleet-forgot-password-banner__badge">BANKFLEET SECURITY</span>
        <h2 class="bankfleet-forgot-password-banner__title">Recupera tu acceso</h2>
        <p class="bankfleet-forgot-password-banner__text">Te ayudamos a recuperar tu cuenta de forma segura.</p>
      </div>
    </aside>
  </div>
</section>