<!-- =========================================================
BANKFLEET LOGIN PAGE
========================================================= -->
<section class="bankfleet-login-page">

    <!-- BACKGROUND GLOW -->
    <div class="bankfleet-login-page__glow bankfleet-login-page__glow--left"></div>
    <div class="bankfleet-login-page__glow bankfleet-login-page__glow--right"></div>


    <div class="bankfleet-login-layout">


        <!-- =====================================================
        LEFT SIDE
        ====================================================== -->
        <section class="bankfleet-login">

            <!-- LOGIN CARD -->
            <div class="bankfleet-login__card">
                    <!-- TOPBAR -->
                <div class="bankfleet-login__topbar">

                    <a
                        href="/"
                        class="bankfleet-btn-secondary">

                        <img
                            src="/frontend/public/assets/icons/icon_back.svg"
                            alt=""
                            class="bankfleet-btn-secondary__icon">

                        

                    </a>

                </div>


                <!-- HEADER -->
                <header class="bankfleet-login__header">

                    <h2 class="bankfleet-login__title">
                        Iniciar Sesión
                    </h2>

                    <p class="bankfleet-login__subtitle">

                        Bienvenido nuevamente a

                        <strong class="bankfleet-login__highlight">
                            BANKFLEET
                        </strong>

                        <br>

                        Accede de forma segura a tu ecosistema financiero.

                    </p>

                </header>


                <!-- FORM -->
                <form class="bankfleet-login__form">


                    <!-- EMAIL -->
                    <div class="bankfleet-login__field">

                        <label class="bankfleet-login__label">
                            Correo electrónico
                        </label>

                        <div class="bankfleet-login__input-wrapper">

                            <img
                                src="/frontend/public/assets/icons/icon_email.svg"
                                alt=""
                                class="bankfleet-login__input-icon"
                            >

                            <input
                                type="email"
                                class="bankfleet-login__input"
                                placeholder="correo@bankfleet.com"
                            >

                        </div>

                    </div>


                    <!-- PASSWORD -->
                    <div class="bankfleet-login__field">

                        <div class="bankfleet-login__label-row">

                            <label class="bankfleet-login__label">
                                Contraseña
                            </label>

                            <a href="/frontend/src/html/pages/auth/vista_forgot_password.html"
                               class="bankfleet-login__forgot-link">

                                ¿Olvidaste tu contraseña?

                            </a>

                        </div>

                        <div class="bankfleet-login__input-wrapper">

                            <img
                                src="/frontend/public/assets/icons/icon_password.svg"
                                alt=""
                                class="bankfleet-login__input-icon"
                            >

                            <input
                                type="password"
                                class="bankfleet-login__input bankfleet-login__input--password"
                                placeholder="••••••••"
                            >

                            <button
                                type="button"
                                class="bankfleet-login__toggle-password">

                                <img
                                    src="/frontend/public/assets/icons/icon_open-eye.svg"
                                    alt="Mostrar contraseña"
                                >

                            </button>

                        </div>

                    </div>


                    <!-- REMEMBER -->
                    <div class="bankfleet-login__options">

                        <label class="bankfleet-login__checkbox">

                            <input type="checkbox">

                            <span class="bankfleet-login__checkbox-custom"></span>

                            <span class="bankfleet-login__checkbox-text">
                                Mantener sesión iniciada
                            </span>

                        </label>

                    </div>


                    <!-- BUTTON -->
                     <div class="bankfleet-login__button-primary">
                        <button
                            type="button"
                            class="bankfleet-btn bankfleet-btn--primary">

                            Ingresar a BANKFLEET

                            <img
                                src="/frontend/public/assets/icons/icon_next-white.svg"
                                alt=""
                                class="bankfleet-btn__icon">

                        </button>
                    </div>


                    <!-- DIVIDER -->
                    <div class="bankfleet-login__divider">

                        <span>
                            o continuar con
                        </span>

                    </div>


                    <!-- SOCIAL -->
                    <div class="bankfleet-login__socials">

                        <button
                            type="button"
                            class="bankfleet-login__social-button">

                            <img
                                src="/frontend/public/assets/icons/icon_google.png"
                                alt=""
                                class="bankfleet-btn__icon-social-media"
                            >

                            <span>
                                Google
                            </span>

                        </button>

                        <button
                            type="button"
                            class="bankfleet-login__social-button">

                            <img
                                src="/frontend/public/assets/icons/icon_apple.png"
                                alt=""
                                class="bankfleet-btn__icon-social-media"
                            >

                            <span>
                                Apple
                            </span>

                        </button>

                    </div>


                    <!-- FOOTER -->
                    <div class="bankfleet-login__footer">

                        <p class="bankfleet-login__footer-text">

                            ¿No tienes una cuenta?

                            <a href="/frontend/src/html/pages/auth/vista_register_step1.html"
                               class="bankfleet-login__register-link">

                                Crear cuenta

                            </a>

                        </p>

                    </div>

                </form>

            </div>

        </section>



        <!-- =====================================================
        RIGHT SIDE
        ====================================================== -->
        <aside class="bankfleet-login-banner">

            <img
                src="/frontend/public/assets/icons/icon_google.png"
                alt="BANKFLEET"
                class="bankfleet-login-banner__image"
            >

            <div class="bankfleet-login-banner__overlay"></div>


            <!-- FLOATING CARD -->
            <div class="bankfleet-login-banner__card">

                <span class="bankfleet-login-banner__badge">
                    SECURE DIGITAL BANKING
                </span>

                <a href="/about/" class="bankfleet-login__link">
                    Página Inical
                </a>

                <h2 class="bankfleet-login-banner__title">
                    Banking
                    Reimagined
                </h2>

                <p class="bankfleet-login-banner__text">

                    Seguridad avanzada, velocidad global y
                    una experiencia financiera creada para
                    el futuro digital.

                </p>

            </div>

        </aside>

    </div>

</section>