<section class="bankfleet-register-step2-page">

  <div class="bankfleet-register-step2-page__glow bankfleet-register-step2-page__glow--left"></div>
  <div class="bankfleet-register-step2-page__glow bankfleet-register-step2-page__glow--right"></div>

  <div class="bankfleet-register-step2-layout">

    <section class="bankfleet-register-step2">

      <div class="bankfleet-register-step2__card">

        <div class="bankfleet-register-step2__topbar">
          <a href="/frontend/src/html/pages/auth/vista_register_step1.html" class="bankfleet-btn-secondary">
              <img src="/frontend/public/assets/icons/icon_back.svg" alt="" class="bankfleet-btn-secondary__icon">
          </a>
        </div>

        <header class="bankfleet-register-step2__header">
          <h2 class="bankfleet-register-step2__title">Verifica tu identidad</h2>
          <p class="bankfleet-register-step2__subtitle">
            Sube tu documento para validar tu cuenta
          </p>
        </header>

        <form class="bankfleet-register-step2__form">

          <!-- FRONT -->
          <div class="bankfleet-register-step2__upload">
            <label class="bankfleet-register-step2__label">Documento (frente)</label>

            <div class="bankfleet-register-step2__dropzone">
              <div class="bankfleet-register-step2__icon">📄</div>
              <p>Subir frente del documento</p>
              <span>JPG, PNG, WEBP - máx 5MB</span>
            </div>
          </div>

          <!-- BACK -->
          <div class="bankfleet-register-step2__upload">
            <label class="bankfleet-register-step2__label">Documento (reverso)</label>

            <div class="bankfleet-register-step2__dropzone">
              <div class="bankfleet-register-step2__icon">📄</div>
              <p>Subir reverso del documento</p>
              <span>JPG, PNG, WEBP - máx 5MB</span>
            </div>
          </div>

          <div class="bankfleet-register-step2__button">
            <button type="button" class="bankfleet-btn bankfleet-btn--primary bankfleet-register-step2__button-primary">
              Siguiente  <img src="/frontend/public/assets/icons/icon_next-white.svg" class="bankfleet-btn__icon" alt="">
            </button>
          </div>

        </form>

      </div>

    </section>

    <!-- BANNER -->
    <aside class="bankfleet-register-step2-banner">
      <img src="/frontend/public/assets/images/img_banking3.jpg" alt="BANKFLEET" class="bankfleet-register-step1-banner__image">
      <div class="bankfleet-register-step2-banner__overlay"></div>
      <div class="bankfleet-register-step2-banner__card">
        <span class="bankfleet-register-step2-banner__badge">KYC SECURITY</span>
        <h2 class="bankfleet-register-step2-banner__title">Verificación segura</h2>
        <p class="bankfleet-register-step2-banner__text">
          Validamos tu identidad en segundos con IA y estándares bancarios.
        </p>
      </div>
    </aside>

  </div>

</section>