<section class="bankfleet-register-step3-page">

  <div class="bankfleet-register-step3-page__glow bankfleet-register-step3-page__glow--left"></div>
  <div class="bankfleet-register-step3-page__glow bankfleet-register-step3-page__glow--right"></div>

  <div class="bankfleet-register-step3-layout">

    <!-- LEFT -->
    <section class="bankfleet-register-step3">

      <div class="bankfleet-register-step3__card">

        <div class="bankfleet-register-step3__topbar">
          <a href="/frontend/src/html/pages/auth/vista_register_step2.html" class="bankfleet-btn-secondary">
              <img src="/frontend/public/assets/icons/icon_back.svg" alt="" class="bankfleet-btn-secondary__icon">
          </a>
        </div>

        <header class="bankfleet-register-step3__header">
          <h2 class="bankfleet-register-step3__title">Verificación biométrica</h2>
          <p class="bankfleet-register-step3__subtitle">
            Toma una selfie para validar tu identidad
          </p>
        </header>

        <div class="bankfleet-register-step3__camera">

          <div class="bankfleet-register-step3__frame">
            <div class="bankfleet-register-step3__scan"></div>

            <div class="bankfleet-register-step3__face-circle">
              <span>Coloca tu rostro aquí</span>
            </div>

          </div>

          <p class="bankfleet-register-step3__status">
            🔎 Detectando rostro...
          </p>

        </div>

        <div class="bankfleet-register-step3__tips">
          <p>✔ Buena iluminación</p>
          <p>✔ Mira directo a la cámara</p>
          <p>✔ No uses accesorios</p>
        </div>

        <div class="bankfleet-register-step3__button">
          <button class="bankfleet-btn bankfleet-btn--primary bankfleet-btn--expand">
              <span class="bankfleet-btn__text">Capturar selfie</span>
              <img src="/frontend/public/assets/icons/icon_next-white.svg" alt="" class="bankfleet-btn__icon">
          </button>
        </div>

      </div>

    </section>

    <!-- RIGHT -->
    <aside class="bankfleet-register-step3-banner">
      <img src="/frontend/public/assets/images/img_banking4.jpg" alt="BANKFLEET" class="bankfleet-register-step1-banner__image">
      <div class="bankfleet-register-step3-banner__overlay"></div>

      <div class="bankfleet-register-step3-banner__card">

        <span class="bankfleet-register-step3-banner__badge">AI BIOMETRIC</span>

        <h2 class="bankfleet-register-step3-banner__title">
          Seguridad avanzada
        </h2>

        <p class="bankfleet-register-step3-banner__text">
          Usamos reconocimiento facial y validación en tiempo real para proteger tu cuenta.
        </p>

      </div>

    </aside>

  </div>

</section>