<section class="bankfleet-register-step1-page">
    <div class="bankfleet-register-step1-page__glow bankfleet-register-step1-page__glow--left"></div>
    <div class="bankfleet-register-step1-page__glow bankfleet-register-step1-page__glow--right"></div>
    <div class="bankfleet-register-step1-layout">
        <section class="bankfleet-register-step1">
            <div class="bankfleet-register-step1__card">
                <div class="bankfleet-register-step1__topbar">
                    <a href="/" class="bankfleet-btn-secondary">
                        <img src="/frontend/public/assets/icons/icon_back.svg" alt="" class="bankfleet-btn-secondary__icon">
                    </a>
                </div>
                <header class="bankfleet-register-step1__header">
                    <h2 class="bankfleet-register-step1__title">Crear Cuenta</h2>
                    <p class="bankfleet-register-step1__subtitle">Completa tus datos para acceder a
                        <strong class="bankfleet-register-step1__highlight">BANKFLEET</strong></p>
                </header>
                <form class="bankfleet-register-step1__form">
                    <div class="bankfleet-register-step1__field">
                        <label class="bankfleet-register-step1__label">Nombre completo</label>
                        <div class="bankfleet-register-step1__input-wrapper">
                            <img src="/frontend/public/assets/icons/icon_name_user.svg" class="bankfleet-register-step1__input-icon" alt="">
                            <input type="text" class="bankfleet-register-step1__input" placeholder="Ej: Pepito Pérez">
                        </div>
                    </div>
                    <div class="bankfleet-register-step1__field">
                        <label class="bankfleet-register-step1__label">Tipo de documento</label>
                        <div class="bankfleet-register-step1__input-wrapper">
                            <img src="/frontend/public/assets/icons/icon_id.svg" class="bankfleet-register-step1__input-icon" alt="">
                            <select class="bankfleet-register-step1__input">
                                <option value="" selected disabled> Selecciona tu documento </option>
                                <option value="TI"> Tarjeta de Identidad (TI)</option>
                                <option value="CC"> Cédula de Ciudadanía (CC)</option>
                                <option value="CE"> Cédula de Extranjería</option>
                                <option value="PAS"> Pasaporte</option>
                            </select>
                        </div>
                    </div>
                    <div class="bankfleet-register-step1__field">
                        <label class="bankfleet-register-step1__label">Número de documento</label>
                        <div class="bankfleet-register-step1__input-wrapper">
                            <img src="/frontend/public/assets/icons/icon_id.svg" class="bankfleet-register-step1__input-icon" alt="">
                            <input type="text" class="bankfleet-register-step1__input" placeholder="Ej: 1234567890">
                        </div>
                    </div>
                    <div class="bankfleet-register-step1__field">
                        <label class="bankfleet-register-step1__label">Teléfono</label>
                        <div class="bankfleet-register-step1__input-wrapper">
                            <img src="/frontend/public/assets/icons/icon_phone.svg" class="bankfleet-register-step1__input-icon" alt="">
                            <input type="tel" class="bankfleet-register-step1__input" placeholder="3001234567">
                        </div>
                    </div>
                    <div class="bankfleet-register-step1__button-primary">
                        <button class="bankfleet-btn bankfleet-btn--primary bankfleet-btn--expand">
                            <span class="bankfleet-btn__text">Siguiente</span>
                            <img src="/frontend/public/assets/icons/icon_next-white.svg" alt="" class="bankfleet-btn__icon">
                        </button>
                    </div>
                </form>
            </div>
        </section>
        <aside class="bankfleet-register-step1-banner">
            <img src="/frontend/public/assets/images/img_banking2.jpg" alt="BANKFLEET" class="bankfleet-register-step1-banner__image">
            <div class="bankfleet-register-step1-banner__overlay"></div>
            <div class="bankfleet-register-step1-banner__card">
                <span class="bankfleet-register-step1-banner__badge"> SECURE DIGITAL BANKING</span>
                <h2 class="bankfleet-register-step1-banner__title">Banking Reimagined</h2>
                <p class="bankfleet-register-step1-banner__text">Seguridad avanzada y experiencia financiera moderna.</p>
            </div>
        </aside>
    </div>
</section>