<section class="bankfleet-reset-password-page">
  <div class="bankfleet-reset-password-page__glow bankfleet-reset-password-page__glow--left"></div>
  <div class="bankfleet-reset-password-page__glow bankfleet-reset-password-page__glow--right"></div>
  <div class="bankfleet-reset-password-layout">
    <section class="bankfleet-reset-password">
      <div class="bankfleet-reset-password__card">
        <div class="bankfleet-reset-password__topbar">
          <a href="vista_code_verify.html" class="bankfleet-btn-secondary">
            <img src="/frontend/public/assets/icons/icon_back.svg" alt="" class="bankfleet-btn-secondary__icon">
          </a>
        </div>
        <header class="bankfleet-reset-password__header">
          <h2 class="bankfleet-reset-password__title">Restablecer contraseña</h2>
          <p class="bankfleet-reset-password__subtitle">Ahora puedes crear una nueva contraseña para tu cuenta en
            <strong class="bankfleet-reset-password__highlight">BANKFLEET</strong> Asegúrate de que sea segura y fácil de recordar.
          </p>
        </header>
        <form class="bankfleet-reset-password__form">
          <div class="bankfleet-reset-password__field">
            <label class="bankfleet-reset-password__label">Nueva contraseña</label>
            <div class="bankfleet-reset-password__input-wrapper">
              <img src="/frontend/public/assets/icons/icon_password.svg" class="bankfleet-reset-password__input-icon" alt="">
              <input type="password" class="bankfleet-reset-password__input bankfleet-reset-password__input--password" placeholder="********">
              <button type="button" class="bankfleet-reset-password__toggle-password">
                <img src="/frontend/public/assets/icons/icon_open-eye.svg" alt="">
              </button>
            </div>
          </div>
          <div class="bankfleet-reset-password__field">
            <label class="bankfleet-reset-password__label">Confirmar contraseña</label>
            <div class="bankfleet-reset-password__input-wrapper">
              <img src="/frontend/public/assets/icons/icon_password.svg" class="bankfleet-reset-password__input-icon" alt="">
              <input type="password" class="bankfleet-reset-password__input bankfleet-reset-password__input--password" placeholder="********">
              <button type="button" class="bankfleet-reset-password__toggle-password">
                <img src="/frontend/public/assets/icons/icon_open-eye.svg" alt="">
              </button>
            </div>
          </div>
          <div class="bankfleet-reset-password__button-primary">
            <button class="bankfleet-btn bankfleet-btn--primary bankfleet-btn--expand">
                <span class="bankfleet-btn__text">Restablecer contraseña</span>
                <img src="/frontend/public/assets/icons/icon_reset.svg" alt="" class="bankfleet-btn__icon">
            </button>
          </div>
        </form>
      </div>
    </section>
    <aside class="bankfleet-reset-password-banner">
      <img src="/frontend/public/assets/images/img_banking8.jpg" alt="BANKFLEET" class="bankfleet-register-step1-banner__image">
      <div class="bankfleet-reset-password-banner__overlay"></div>
      <div class="bankfleet-reset-password-banner__card">
        <span class="bankfleet-reset-password-banner__badge">BANKFLEET SECURITY</span>
        <h2 class="bankfleet-reset-password-banner__title">Nueva contraseña</h2>
        <p class="bankfleet-reset-password-banner__text">Protege tu cuenta con una contraseña fuerte y segura.</p>
      </div>
    </aside>
  </div>
</section>