.bankfleet-sidebar-principal{
    flex:0 0 240px;
    height:100%;
    overflow-y:auto;
    overflow-x:hidden;
    scrollbar-width:thin;   
    min-width: 240px;
}
.bankfleet-sidebar-principal::-webkit-scrollbar{
    width:8px;
}
.bankfleet-sidebar-principal__nav{
    display:flex;
    flex-direction:column;
    padding: 0px 16px 0px 8px ;
    gap:14px;
}
.bankfleet-sidebar-principal__group{
    border-bottom:1px solid var(--gray-600);
}
.bankfleet-sidebar-principal__menu-button{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:14px 16px;
    border:none;
    border-radius:14px;
    background:transparent;
    color:var(--white);
    cursor:pointer;
    transition:.30s;
    font-size:var(--fs-xxxs);
    font-weight:600;
}
.bankfleet-sidebar-principal__menu-button:hover{
    background: var(--primary-800);
}
.bankfleet-sidebar-principal__menu-button.active{
    background:rgba(103,58,183,0.12);
    color:var(--secondary-400);
    border-left:4px solid var(--secondary-500);
    box-shadow:inset 0 0 0 1px rgba(103,58,183,0.70);
    margin-bottom: 2px;
}
.bankfleet-sidebar-principal__submenu{
    display:none;
    flex-direction:column;
    gap:4px;
    padding-left:10px;
}
.bankfleet-sidebar-principal__submenu.active{
    display:flex;
}
.bankfleet-sidebar__link,
.bankfleet-sidebar__link--double{
    position:relative;
    display:flex;
    align-items:center;
    min-height:38px;
    padding:10px 14px;
    border-radius:10px;
    text-decoration:none;
    color:var(--gray-300);
    font-size:var(--fs-xxxxs);
    transition:.25s;
    overflow:hidden;
}
.bankfleet-sidebar__link::before,
.bankfleet-sidebar__link--double::before{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:3px;
    height:100%;
    background:var(--secondary-500);
    transform:scaleY(0);
    transition:.25s;
}
.bankfleet-sidebar__link:hover,
.bankfleet-sidebar__link--double:hover{
    background:rgba(255,255,255,.05);
    color:white;
    padding-left:22px;
}
.bankfleet-sidebar__link:hover::before,
.bankfleet-sidebar__link--double:hover::before{
    transform:scaleY(1);
}
/* ==============================
   RESPONSIVE SIDEBAR
============================== */

@media (max-width:980px){

    .bankfleet-sidebar-principal{
        position: fixed;
        top: 0;
        left: 0;
        width:100%;
        height:100vh;
        background: var(--primary-950);
        z-index:2000;

        transform: translateX(-100%);
        transition: transform .35s ease;

        flex:none;
        padding-top:90px;
    }

    .bankfleet-sidebar-principal.active{
        transform: translateX(0);
    }

}
@media (max-width:980px){

    .bankfleet-sidebar-principal{
        position: fixed;
        inset: 0;
        width: 100vw;
        height: 100vh;

        display: block;

        background: var(--primary-950);

        transform: translateX(-100%);
        transition: transform .35s ease;

        z-index: 3000;

        overflow-y: auto;
    }

    .bankfleet-sidebar-principal.active{
        transform: translateX(0);
    }

    .bankfleet-sidebar-principal__nav{
        width: 100%;
        padding: 100px 20px 30px;
    }

    .bankfleet-sidebar-principal__menu-button{
        width: 100%;
        color: white;
    }

}
.bankfleet-sidebar-principal__close{
    display:none;
}

@media (max-width:980px){

    .bankfleet-sidebar-principal__close{

        display:flex;
        justify-content:center;
        align-items:center;

        position:absolute;
        top:20px;
        right:20px;

        width: 36px;
        height: 40px;
        border: none;
        border-radius: 12px;
        background: rgba(255,255,255,.05);
        color: var(--white);
        cursor: pointer;
        transition: var(--transition-normal);
    }

    .bankfleet-sidebar-principal__close:hover{

        background:var(--secondary-500);
        transform:rotate(90deg);

    }

}