/* =========================================================
LAYOUT BASE
========================================================= */

html {
    margin: 0;
    padding: 0;

    min-height: 100vh;

    box-sizing: border-box;

    font-size: 62.5%;

    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;

    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    background:
        var(--primary-950);
    font-family: var(--font-primary);

    color: var(--black);

    font-size: var(--fs-xs);

    line-height: 1.5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
html,
body {
    height: 100%;
    margin: 0;
}
.body-login {
    flex: 1;
    min-height: 0;
    display: flex;
}   
/* =========================================================
MAIN CONTENT
========================================================= */

.section-footer-content {
    flex: 1 0 auto;

    width: 100%;

    min-width: 0;
}

/* =========================================================
FOOTER CONTAINER
========================================================= */

.footer-client-home {
    flex-shrink: 0;

    width: 100%;

    min-width: 0;
}
.bankfleet-dashboard-layout{
    display: flex;
    align-items: stretch;
}

a{
    background: var(--primary-950);
}
button{
    background: var(--primary-950);
}