<nav class="navbar_global--client">
  <div class="navbar_global__logo--client">
    <h1 class="navbar_global__title--client">Categorias</h1>
  </div>

  <div class="navbar_global__actions--client">

    <a href="#" data-categoria="all" class=" navbar_global__link--client">
      <img src="{% static 'assets/icons/many.svg' %}" class="navbar_global__icon" alt="">
      <span class="navbar_global__tooltip--client">Todas</span>
    </a>

    <a href="#" data-categoria="frutas" class="navbar_global__link--client">
      <img src="{% static 'assets/icons/fruit.svg' %}" class="navbar_global__icon" alt="">
      <span class="navbar_global__tooltip--client">Frutas</span>
    </a>
    <a href="#" data-categoria="verduras" class="navbar_global__link--client">
      <img src="{% static 'assets/icons/vegetables.svg' %}" class="navbar_global__icon" alt="">
      <span class="navbar_global__tooltip--client">Verduras</span>
    </a>
    <a href="#" data-categoria="lacteos" class="navbar_global__link--client">
      <img src="{% static 'assets/icons/milk.svg' %}" class="navbar_global__icon" alt="">
      <span class="navbar_global__tooltip--client">Lácteos</span>
    </a>
    <a href="#" data-categoria="granos" class="navbar_global__link--client">
      <img src="{% static 'assets/icons/grain.svg' %}" class="navbar_global__icon" alt="">
      <span class="navbar_global__tooltip--client">Granos</span>
    </a>
  </div>
</nav>