<header class="bankfleet-navbar">
    <div class="bankfleet-navbar__blur bankfleet-navbar__blur--left"></div>
    <div class="bankfleet-navbar__blur bankfleet-navbar__blur--right"></div>
    <div class="bankfleet-navbar__container">
        <div class="bankfleet-navbar__left">
            <button class="bankfleet-navbar__action-button bankfleet-navbar__menu-trigger">
                <img src="/frontend/public/assets/icons/icon_menu.svg" alt="Menu" class="bankfleet-navbar__icon">
                <span class="bankfleet-navbar__tooltip">Menú</span>
            </button>
            <a href="/" class="bankfleet-navbar__profile-button">
                <div class="bankfleet-navbar__avatar">
                    <img src="/assets/img/img_bankfleet.png" alt="BANKFLEET" class="bankfleet-navbar__avatar-image">
                </div>
                <span class="bankfleet-navbar__tooltip">Home</span>
            </a>
            <a href="/" class="bankfleet-navbar__brand">
                <div class="bankfleet-navbar__brand-icon">B</div>
                <div class="bankfleet-navbar__brand-content">
                    <h1 class="bankfleet-navbar__logo">
                      <span class="bankfleet-navbar__letter">B</span>
                      <span class="bankfleet-navbar__letter">A</span>
                      <span class="bankfleet-navbar__letter">N</span>
                      <span class="bankfleet-navbar__letter">K</span>
                      <span class="bankfleet-navbar__letter">F</span>
                      <span class="bankfleet-navbar__letter">L</span>
                      <span class="bankfleet-navbar__letter">E</span>
                      <span class="bankfleet-navbar__letter">E</span>
                      <span class="bankfleet-navbar__letter">T</span>
                    </h1>
                    <span class="bankfleet-navbar__brand-subtitle">DIGITAL BANKING</span>
                </div>
            </a>
        </div>
        <div class="bankfleet-navbar__right">
            <a href="/register/" class="bankfleet-navbar__action-button">
                <img src="/frontend/public/assets/icons/icon_register.svg" alt="Registro" class="bankfleet-navbar__icon">
                <span class="bankfleet-navbar__tooltip">Registro</span>
            </a>
            <a href="/contact/" class="bankfleet-navbar__action-button">
                <img src="/frontend/public/assets/icons/icon_contact.svg" alt="Contacto" class="bankfleet-navbar__icon">
                <span class="bankfleet-navbar__tooltip">Contacto</span>
            </a>
            <button class="bankfleet-navbar__action-button">
                <img src="/frontend/public/assets/icons/icon_notification.svg" alt="Notificaciones" class="bankfleet-navbar__icon">
                <span class="bankfleet-navbar__notification-dot"></span>
                <span class="bankfleet-navbar__tooltip">Notificaciones</span>
            </button>
            <a href="/profile/" class="bankfleet-navbar__profile-button">
                <div class="bankfleet-navbar__avatar">
                    <img src="/frontend/public/ assets/img/img_home_code_verify.jpg" alt="Perfil" class="bankfleet-navbar__avatar-image">
                </div>
                <span class="bankfleet-navbar__status"></span>
                <span class="bankfleet-navbar__tooltip">Mi Perfil</span>
            </a>
        </div>
    </div>
</header>
