.bankfleet-app {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.bankfleet-app__body {
    flex: 1;
    display: flex;
    min-height: 0;
}
.bankfleet-sidebar-principal {
    width: 260px; /* o el ancho que uses */
    flex-shrink: 0;
}

.bankfleet-main-content {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}