<footer class="bankfleet-footer">
    <div class="bankfleet-footer__glow bankfleet-footer__glow--left"></div>
    <div class="bankfleet-footer__glow bankfleet-footer__glow--right"></div>
    <div class="bankfleet-footer__container">
        <section class="bankfleet-footer__brand">
            <a href="/" class="bankfleet-footer__brand-wrapper">
                <div class="bankfleet-footer__brand-icon">B</div>
                <div class="bankfleet-footer__brand-content">
                    <h1 class="bankfleet-navbar__logo">
                      <span class="bankfleet-navbar__letter">B</span>
                      <span class="bankfleet-navbar__letter">A</span>
                      <span class="bankfleet-navbar__letter">N</span>
                      <span class="bankfleet-navbar__letter">K</span>
                      <span class="bankfleet-navbar__letter">F</span>
                      <span class="bankfleet-navbar__letter">L</span>
                      <span class="bankfleet-navbar__letter">E</span>
                      <span class="bankfleet-navbar__letter">E</span>
                      <span class="bankfleet-navbar__letter">T</span>
                    </h1>
                    <span class="bankfleet-footer__brand-badge">DIGITAL BANKING</span>
                </div>
            </a>
            <p class="bankfleet-footer__description">Plataforma financiera inteligente diseñada para ofrecer seguridad, velocidad y escalabilidad
                en experiencias bancarias digitales modernas.</p>
        </section>
        <section class="bankfleet-footer__section">
            <h3 class="bankfleet-footer__title">Navegación</h3>
            <ul class="bankfleet-footer__list">
                <li class="bankfleet-footer__item"><a href="/" class="bankfleet-footer__link">Inicio</a></li>
                <li class="bankfleet-footer__item"><a href="/about/" class="bankfleet-footer__link">Nosotros</a></li>
                <li class="bankfleet-footer__item"><a href="/services/" class="bankfleet-footer__link">Servicios</a></li>
                <li class="bankfleet-footer__item"><a href="/contact/" class="bankfleet-footer__link">Contacto</a></li>
            </ul>
        </section>
        <section class="bankfleet-footer__section">
            <h3 class="bankfleet-footer__title">Cuenta</h3>
            <ul class="bankfleet-footer__list">
                <li class="bankfleet-footer__item"><a href="/login/" class="bankfleet-footer__link">Iniciar sesión</a></li>
                <li class="bankfleet-footer__item"><a href="/register/" class="bankfleet-footer__link">Crear cuenta</a></li>
                <li class="bankfleet-footer__item"><a href="/security/" class="bankfleet-footer__link">Seguridad</a></li>
                <li class="bankfleet-footer__item"><a href="/privacy/" class="bankfleet-footer__link">Privacidad</a></li>
            </ul>
        </section>
        <section class="bankfleet-footer__section">
            <h3 class="bankfleet-footer__title">Contacto</h3>
            <ul class="bankfleet-footer__contact-list">
                <li class="bankfleet-footer__contact-item">
                    <span class="bankfleet-footer__contact-icon">
                        <img src="/frontend/public/assets/icons/icon_ubication_purple.svg" alt="Volver" class="bankfleet-btn-secondary__icon">
                    </span>
                    <span class="bankfleet-footer__contact-text">Pereira, Colombia</span>
                </li>
                <li class="bankfleet-footer__contact-item">
                    <span class="bankfleet-footer__contact-icon">
                        <img src="/frontend/public/assets/icons/icon_suport_purple.svg" alt="Volver" class="bankfleet-btn-secondary__icon">
                    </span>
                    <span class="bankfleet-footer__contact-text">support@bankfleet.com</span>
                </li>
                <li class="bankfleet-footer__contact-item">
                    <span class="bankfleet-footer__contact-icon">
                        <img src="/frontend/public/assets/icons/icon_phone.svg" alt="Volver" class="bankfleet-btn-secondary__icon">
                    </span>
                    <span class="bankfleet-footer__contact-text">+57 300 000 0000</span>
                </li>
            </ul>
        </section>
    </div>
    <div class="bankfleet-footer__bottom">
        <div class="bankfleet-footer__bottom-container">
            <p class="bankfleet-footer__copyright">© 2026 BANKFLEET. Todos los derechos reservados.</p>
            <div class="bankfleet-footer__socials">
                <a href="#" class="bankfleet-footer__social-link"><img src="/frontend/public/assets/icons/icon_instagram.svg" alt="Instagram"></a>
                <a href="#" class="bankfleet-footer__social-link"><img src="/frontend/public/assets/icons/icon_facebook.png" alt="Facebook"></a>
                <a href="#" class="bankfleet-footer__social-link"><img src="/frontend/public/assets/icons/icon_x_white.svg" alt="X"></a>
                <a href="#" class="bankfleet-footer__social-link"><img src="/frontend/public/assets/icons/icon_linkedin.svg" alt="LinkedIn"></a>
            </div>
        </div>
    </div>
</footer>

