<footer class="bankfleet-footer-landing-page">
    <div class="bankfleet-footer-landing-page__glow bankfleet-footer-landing-page__glow--left"></div>
    <div class="bankfleet-footer-landing-page__glow bankfleet-footer-landing-page__glow--right"></div>
    <div class="bankfleet-footer-landing-page__container">
        <section class="bankfleet-footer-landing-page__brand">
            <a href="/" class="bankfleet-footer-landing-page__brand-wrapper">
                <div class="bankfleet-footer-landing-page__brand-icon">B</div>
                <div class="bankfleet-footer-landing-page__brand-content">
                    <h1 class="bankfleet-footer__logo">
                      <span class="bankfleet-footer__letter">B</span>
                      <span class="bankfleet-footer__letter">A</span>
                      <span class="bankfleet-footer__letter">N</span>
                      <span class="bankfleet-footer__letter">K</span>
                      <span class="bankfleet-footer__letter">F</span>
                      <span class="bankfleet-footer__letter">L</span>
                      <span class="bankfleet-footer__letter">E</span>
                      <span class="bankfleet-footer__letter">E</span>
                      <span class="bankfleet-footer__letter">T</span>
                    </h1>
                    <span class="bankfleet-footer-landing-page__brand-badge">DIGITAL BANKING</span>
                </div>
            </a>
            
        </section>
        <section class="bankfleet-footer-landing-page__section">
            <p class="bankfleet-footer-landing-page__description">Plataforma financiera inteligente diseñada para ofrecer seguridad, velocidad y escalabilidad en experiencias bancarias digitales modernas.
                Nuestra infraestructura de última generación transforma la banca tradicional en un ecosistema ágil y centrado en el usuario. 
                Mediante el uso de inteligencia artificial avanzada y arquitectura en la nube, garantizamos transacciones en tiempo real con los más altos estándares de protección de datos. 
                Es la solución 
                definitiva para instituciones que buscan liderar el futuro financiero, optimizar sus operaciones y responder de manera inmediata a las demandas de un mercado global en constante evolución.
            </p>
        </section>
    </div>
    <div class="bankfleet-footer-landing-page__bottom">
        <div class="bankfleet-footer-landing-page__bottom-container">
            <p class="bankfleet-footer-landing-page__copyright">© 2026 BANKFLEET. Todos los derechos reservados.</p>
            <div class="bankfleet-footer-landing-page__socials">
                <a href="#" class="bankfleet-footer-landing-page__social-link"><img src="/frontend/public/assets/icons/icon_instagram.svg" alt="Instagram"></a>
                <a href="#" class="bankfleet-footer-landing-page__social-link"><img src="/frontend/public/assets/icons/icon_facebook.png" alt="Facebook"></a>
                <a href="#" class="bankfleet-footer-landing-page__social-link"><img src="/frontend/public/assets/icons/icon_x_white.svg" alt="X"></a>
                <a href="#" class="bankfleet-footer-landing-page__social-link"><img src="/frontend/public/assets/icons/icon_linkedin.svg" alt="LinkedIn"></a>
            </div>
        </div>
    </div>
</footer>

