<div class="bankfleet-transfer-confirmation">

    <div class="bankfleet-transfer-confirmation__card">

        <!-- <div class="bankfleet-transfer-confirmation__icon-container">
            <img
                src="/frontend/public/assets/icons/icon_security.svg"
                alt="Confirmar transferencia"
                class="bankfleet-transfer-confirmation__icon">
        </div> -->

        <h3 class="bankfleet-transfer-confirmation__title">
            Confirmar transferencia
        </h3>
        <p class="bankfleet-transfer-confirmation__description-strong">
            Esto enviara el dinero <strong>¿Estas Seguro?</strong>
        </p>

        <p class="bankfleet-transfer-confirmation__description">
            Estás a punto de enviar dinero mediante una llave registrada.
            Verifica la información antes de continuar.
        </p>

        

        <div class="bankfleet-transfer-confirmation__actions">

           <a
                href="/frontend/src/html/pages/dashboard/banking/transfers/view_bankfleet_key_transfer.html"
                class="bankfleet-btn-secondary bankfleet-transfer-confirmation__btn-secondary">
                Cancelar

                <img
                    src="/frontend/public/assets/icons/icon_back.svg"
                    alt=""
                    class="bankfleet-btn-secondary__icon bankfleet-transfer-confirmation__btn-secondary-icon">
            </a>

            <button
                type="button"
                class="bankfleet-btn bankfleet-btn--primary">
                Confirmar
                <img
                    src="/frontend/public/assets/icons/icon_next-white.svg"
                    alt=""
                    class="bankfleet-btn__icon">
            </button>

        </div>

    </div>

</div>

