<div class="bankfleet-filter-overlay"></div>

<aside class="bankfleet-filter-drawer">

    <div class="bankfleet-filter-drawer__header">
        <div class="bankfleet-filter-drawer__profile">
            <div class="bankfleet-filter-drawer__avatar">
                <img
                    src="/frontend/public/assets/icons/icon_filter_white.svg"
                    alt="Filtrar"
                    class="bankfleet-filter-drawer__avatar-icon">
            </div>
            <div class="bankfleet-filter-drawer__user">
                <h3 class="bankfleet-filter-drawer__name">Filtrar</h3>
                <span class="bankfleet-filter-drawer__role">Oculta temporalmente los datos<br>
                                                            que no necesitas y muestra únicamente<br> 
                                                            aquellos que cumplen determinadas condiciones.</span>
            </div>
        </div>
        <button class="bankfleet-filter-drawer__close">✕</button>
    </div>

    </header>


    <div class="bankfleet-filter-drawer__body">
        <!-- Fecha de alta -->
        <div class="bankfleet-filter-drawer__field">
            <label class="bankfleet-filter-drawer__label">Fecha de alta</label>
            <div class="bankfleet-filter-drawer__input-wrapper">
                <img src="/frontend/public/assets/icons/icon_bank_purple.svg " alt="" class="bankfleet-filter-drawer__input-icon">
                <input type="date" class="bankfleet-filter-drawer__input" placeholder="Desde - Hasta">
            </div>
            
        </div>

        <!-- Estado -->
        <div class="bankfleet-filter-drawer__field">

            <label class="bankfleet-filter-drawer__label">
                Estado
            </label>

            <div class="bankfleet-filter-drawer__input-wrapper">

                <img
                    src="/frontend/public/assets/icons/icon_status_purple.svg"
                    alt=""
                    class="bankfleet-filter-drawer__input-icon">

                <select class="bankfleet-filter-drawer__input">

                    <option selected>
                        Todos
                    </option>

                    <option>
                        Aplicado
                    </option>

                    <option>
                        Cancelado
                    </option>

                </select>

            </div>

        </div>

    <!-- Banco -->
        <div class="bankfleet-filter-drawer__field">

            <label class="bankfleet-filter-drawer__label">
                Banco
            </label>

            <div class="bankfleet-filter-drawer__input-wrapper">

                <img
                    src="/frontend/public/assets/icons/icon_bank_purple.svg "
                    alt=""
                    class="bankfleet-filter-drawer__input-icon">

                <select class="bankfleet-filter-drawer__input">

                    <option selected>
                        Todos
                    </option>

                    <option>
                        Cuentas propias
                    </option>

                    <option>
                        Terceros
                    </option>

                    <option>
                        BBVA Colombia
                    </option>

                    <option>
                        Bancolombia
                    </option>

                    <option>
                        Davivienda
                    </option>

                    <option>
                        Banco de Bogotá
                    </option>

                    <option>
                        Banco Popular
                    </option>

                    <option>
                        Banco Agrario
                    </option>

                </select>

            </div>

        </div>



    </div>


    <footer class="bankfleet-filter-drawer__footer">

        <button
            type="button"
            class="bankfleet-btn-secondary">

            Limpiar filtros
            <img
                src="/frontend/public/assets/icons/icon_broom_white.svg"
                alt=""
                class="bankfleet-btn-secondary__icon">

        </button>

        <button class="bankfleet-btn bankfleet-btn--primary bankfleet-btn--expand">
            <span class="bankfleet-btn__text">Aplicar filtros</span>
            <img src="/frontend/public/assets/icons/icon_apply_filters.svg" alt="" class="bankfleet-btn__icon">
        </button>

    </footer>


</aside>