<section class="bankfleet-section-card-top-offer">

    <h1 class="bankfleet-section-card-top-offer__title">
        Inspirado en lo último que viste
    </h1>

    <div class="bankfleet-section-card-top-offer__slider">

        <!-- Flecha izquierda -->
        <button
            type="button"
            class="bankfleet-section-card-top-offer__arrow bankfleet-section-card-top-offer__arrow--left">

            <img
                src="/frontend/public/assets/icons/icon_arrow_left_white.svg"
                alt="Anterior"
                class="bankfleet-section-card-top-offer__arrow-icon">

        </button>

        <!-- Área visible -->
        <div class="bankfleet-section-card-top-offer__viewport">

            <!-- El JS insertará aquí las tarjetas -->
            <div class="bankfleet-section-card-top-offer__track">

            </div>

        </div>

        <!-- Flecha derecha -->
        <button
            type="button"
            class="bankfleet-section-card-top-offer__arrow bankfleet-section-card-top-offer__arrow--right">

            <img
                src="/frontend/public/assets/icons/icon_next-white.svg"
                alt="Siguiente"
                class="bankfleet-section-card-top-offer__arrow-icon">

        </button>

    </div>

</section>