<aside class="bankfleet-sidebar-principal">
        <button class="bankfleet-sidebar-principal__close">
            ✕
        </button>
    <nav class="bankfleet-sidebar-principal__nav">

        <!-- Inicio -->
        <div class="bankfleet-sidebar-principal__group">
            <button class="bankfleet-sidebar-principal__menu-button active">
                <span>Inicio</span>
            </button>
        </div>

        <!-- Transferencias -->
        <div class="bankfleet-sidebar-principal__group">
            <button class="bankfleet-sidebar-principal__menu-button">
                <span>Transferencias</span>
            </button>

            <ul class="bankfleet-sidebar-principal__submenu">
                <a href="/frontend/src/html/pages/dashboard/banking/transfers/cards/vista_bankfleet_new_transfer.html" class="bankfleet-sidebar__link">Nueva Transferencia (Ejecución)</a>
                <a href="/frontend/src/html/pages/dashboard/banking/transfers/tables/view_bankfleet_table_transfer_history.html" class="bankfleet-sidebar__link">Historial y Comprobantes</a>
                <a href="/frontend/src/html/pages/dashboard/banking/transfers/tables/view_bankfleet_scheduled_consultations_transfers.html" class="bankfleet-sidebar__link">Consultas Programadas</a>
                <a href="/frontend/src/html/pages/dashboard/banking/transfers/tables/view_bankfleet_recipients.html" class="bankfleet-sidebar__link">Gestión de Destinatarios y Favoritos</a>
                <a href="/frontend/src/html/pages/dashboard/banking/transfers/view_bankfleet_safety_and_special_features.html" class="bankfleet-sidebar__link">Seguridad y Funciones Especiales</a>
            </ul>
        </div>
        <!-- Nómina Electrónica -->
        <div class="bankfleet-sidebar-principal__group">
            <button class="bankfleet-sidebar-principal__menu-button">
                <span>Nómina Electrónica</span>
            </button>

            <ul class="bankfleet-sidebar-principal__submenu">
                <a href="/frontend/src/html/pages/dashboard/banking/payrollpayment/tables/view_bankfleet_manage_groups.html" class="bankfleet-sidebar__link">Administrar Grupos</a>
                <a href="/frontend/src/html/pages/dashboard/banking/payrollpayment/tables/view_bankfleet_employee_management_table.html" class="bankfleet-sidebar__link">Administrar Empleados</a>
                <a href="/frontend/src/html/pages/dashboard/banking/electronic payroll/view_bankfleet_dian.html" class="bankfleet-sidebar__link">Transmisión Automática a la DIAN</a>
                <a href="/frontend/src/html/pages/dashboard/banking/electronic payroll/view_bankfleet_money_payroll_payment.html" class="bankfleet-sidebar__link">Pago de Nómina</a>
                <a href="/frontend/src/html/pages/dashboard/banking/payrollpayment/tables/view_payroll_payment_history.html" class="bankfleet-sidebar__link">Historial de Pagos</a>
                <a href="/frontend/src/html/pages/dashboard/banking/payrollpayment/tables/view_bankfleet_scheduled_consultations_payroll.html" class="bankfleet-sidebar__link">Consultas Programadas</a>
            </ul>
        </div>
        <!-- Inversiones -->
        <div class="bankfleet-sidebar-principal__group">
            <button class="bankfleet-sidebar-principal__menu-button">
                <span>Inversiones</span>
            </button>

            <ul class="bankfleet-sidebar-principal__submenu">
                <a href="/frontend/src/html/pages/dashboard/banking/invest/view_bankfleet_investment_funds_and_trusts.html" class="bankfleet-sidebar__link">Fondos de Inversión y Fiducias</a>
                <a href="/frontend/src/html/pages/dashboard/banking/invest/view_bankfleet_stocks_and_etfs.html" class="bankfleet-sidebar__link">Acciones y ETFs</a>
                <a href="/frontend/src/html/pages/dashboard/banking/invest/view_bankfleet_certificates_of_deposit_(cds).html" class="bankfleet-sidebar__link">Certificados de Depósito (CDT/CDA)</a>
                <a href="/frontend/src/html/pages/dashboard/banking/invest/view_bankfleet_robo_advisors.html" class="bankfleet-sidebar__link">Robo-Advisors</a>
                <a href="/frontend/src/html/pages/dashboard/banking/invest/view_bankfleet_sustainable_investments(esg).html" class="bankfleet-sidebar__link">Inversiones Sostenibles (ESG)</a>
                <a href="/frontend/src/html/pages/dashboard/banking/invest/view_bankfleet_financial_education_and_analysis.html" class="bankfleet-sidebar__link">Educación y Análisis Financiero</a>
            </ul>
        </div>
        <!-- Autorizaciones -->
        <div class="bankfleet-sidebar-principal__group">
            <button class="bankfleet-sidebar-principal__menu-button">
                <span>Autorizaciones</span>
            </button>

            <ul class="bankfleet-sidebar-principal__submenu">
                <a href="/frontend/src/html/pages/dashboard/banking/authorization/view_bankfleet_manage_authorizations.html" class="bankfleet-sidebar__link">Gestionar Autorizaciones</a>
                <a href="/frontend/src/html/pages/dashboard/banking/authorization/view_bankfleet_transactions_awaiting_approval.html" class="bankfleet-sidebar__link">Operaciones por Aprobar</a>
                <a href="/frontend/src/html/pages/dashboard/banking/authorization/view_bankfleet_authorization_schemes.html" class="bankfleet-sidebar__link">Esquemas de Autorización</a>
                <a href="/frontend/src/html/pages/dashboard/banking/authorization/view_bankfleet_non_monetary_transactions.html" class="bankfleet-sidebar__link">Operaciones No Monetarias</a>
                <a href="/frontend/src/html/pages/dashboard/banking/authorization/view_bankfleet_authorization_history.html" class="bankfleet-sidebar__link">Historial de Autorizaciones</a>
                <a href="/frontend/src/html/pages/dashboard/banking/authorization/view_bankfleet_security_and_authentication.html" class="bankfleet-sidebar__link">Seguridad y Autenticación</a>
            </ul>
        </div>

    </nav>
</aside>