<div class="bankfleet-menu-overlay"></div>
<aside class="bankfleet-menu-drawer">
    <div class="bankfleet-menu-drawer__header">
        <div class="bankfleet-menu-drawer__profile">
            <div class="bankfleet-menu-drawer__avatar">JD</div>
            <div class="bankfleet-menu-drawer__user">
                <h3 class="bankfleet-menu-drawer__name">John Doe</h3>
                <span class="bankfleet-menu-drawer__role">Cliente Empresarial</span>
            </div>
        </div>
        <button class="bankfleet-menu-drawer__close">✕</button>
    </div>
    <div class="bankfleet-menu-drawer__body">
        <a href="#" class="bankfleet-menu-drawer__item">
            <img src="/frontend/public/assets/icons/icon_user_profile_white.svg" alt="" class="bankfleet-menu-drawer__icon">
            <span class="bankfleet-menu-drawer__text-item">Mi Perfil</span>
        </a>
        <a href="#" class="bankfleet-menu-drawer__item">
            <img src="/frontend/public/assets/icons/icon_security_white.svg" alt="" class="bankfleet-menu-drawer__icon">
            <span class="bankfleet-menu-drawer__text-item">Seguridad</span>
        </a>
        <a href="#" class="bankfleet-menu-drawer__item">
            <img src="/frontend/public/assets/icons/icon_notification_white.svg" alt="" class="bankfleet-menu-drawer__icon">
            <span class="bankfleet-menu-drawer__text-item">Notificaciones</span>
        </a>
        <a href="#" class="bankfleet-menu-drawer__item">
            <img src="/frontend/public/assets/icons/icon_settings_white.svg" alt="" class="bankfleet-menu-drawer__icon">
            <span class="bankfleet-menu-drawer__text-item">Configuración</span>
        </a>
        <a href="#" class="bankfleet-menu-drawer__item">
            <img src="/frontend/public/assets/icons/icon_help_white.svg" alt="" class="bankfleet-menu-drawer__icon">
            <span class="bankfleet-menu-drawer__text-item">Centro de Ayuda</span>
        </a>
    </div>
    <div class="bankfleet-menu-drawer__footer">
        <a href="/" class="bankfleet-btn-secondary bankfleet_manage_groups-table__btn-secondary"> Cerrar Sesión
            <img src="/frontend/public/assets/icons/icon_back.svg" alt="" class="bankfleet-btn-secondary__icon bankfleet_manage_groups-table__btn-secondary-icon">
        </a>
    </div>
</aside>