<!-- =========================================================
BANKFLEET SIDEBAR PRINCIPAL
========================================================= -->

<aside class="bankfleet-sidebar-principal">

    <!-- LOGO -->
    <div class="bankfleet-sidebar-principal__logo">

        <img
            src="/frontend/public/assets/icons/icon_google.png"
            alt="BANKFLEET"
            class="bankfleet-sidebar-principal__logo-image">

    </div>

    <!-- NAVIGATION -->
    <nav class="bankfleet-sidebar-principal__nav">

        <!-- Inicio -->
        <div class="bankfleet-sidebar-principal__group">

            <button class="bankfleet-sidebar-principal__menu-button active">

                <span>Inicio</span>

            </button>
        </div>
        <!-- TRANSFERENCIAS -->
        <div class="bankfleet-sidebar-principal__group">

            <button class="bankfleet-sidebar-principal__menu-button active">

                <span>Transferencias</span>

            </button>

            <ul class="bankfleet-sidebar-principal__submenu">

                <a href="/frontend/src/html/pages/dashboard/banking/transfers/cards/vista_bankfleet_new_transfer.html" 
                class="bankfleet-sidebar__link"> Nueva Transferencia (Ejecución)</a>
                <a href="/frontend/src/html/pages/dashboard/banking/transfers/tables/view_bankfleet_table_transfer_history.html" class="bankfleet-sidebar__link"> Historial y Comprobantes</a>
                <a href="/frontend/src/html/pages/dashboard/banking/transfers/tables/view_bankfleet_scheduled_consultations_transfers.html" 
                class="bankfleet-sidebar__link"> Consultas programadas</a>
                <a href="/frontend/src/html/pages/dashboard/banking/transfers/tables/view_bankfleet_table_transfer_history.html" 
                class="bankfleet-sidebar__link"> Historial de transferencias</a>
                <a href="/frontend/src/html/pages/dashboard/banking/transfers/tables/view_bankfleet_recipients.html" 
                class="bankfleet-sidebar__link"> Gestión de Destinatarios y Favoritos</a>
                <a href="#" 
                class="bankfleet-sidebar__link"> Seguridad y Funciones Especiales</a>

            </ul>

        </div>

        <!-- AUTORIZACIONES -->
        <div class="bankfleet-sidebar-principal__group">

            <button class="bankfleet-sidebar-principal__menu-button">

                <span>Autorizaciones</span>

            </button>

            <ul class="bankfleet-sidebar-principal__submenu">

                <a href="#" class="bankfleet-sidebar__link">Gestionar autorizaciones</a>
                <a href="#" class="bankfleet-sidebar__link">Operación por Aprobar</a>
                <a href="#" class="bankfleet-sidebar__link">Administra y Esquemas de Autorización</a>
                <a href="#" class="bankfleet-sidebar__link">Autoriza de Operaciones No Monetarias</a>
                <a href="#" class="bankfleet-sidebar__link">Historial de autorizaciones</a>
                <a href="#" class="bankfleet-sidebar__link">Seguridad y Autenticación</a>

            </ul>
        </div>

        <!-- NOMINA -->
        <div class="bankfleet-sidebar-principal__group">

            <button class="bankfleet-sidebar-principal__menu-button">

                <span>Nómina Electrónica</span>

            </button>

            <ul class="bankfleet-sidebar-principal__submenu">
                <a href="/frontend/src/html/pages/dashboard/banking/payrollpayment/tables/view_bankfleet_manage_groups.html" class="bankfleet-sidebar__link">Administrar grupos</a>
                <a href="/frontend/src/html/pages/dashboard/banking/payrollpayment/tables/view_bankfleet_employee_management_table.html" class="bankfleet-sidebar__link">Administrar empleados</a>
                <a href="#" 
                class="bankfleet-sidebar__link">Transmi automática a la DIAN</a>
                <a href="#" 
                class="bankfleet-sidebar__link">Pago de nómina</a>
                <a href="/frontend/src/html/pages/dashboard/banking/payrollpayment/tables/view_payroll_payment_history.html" class="bankfleet-sidebar__link">Historial de pagos de nómina</a>
                <a href="/frontend/src/html/pages/dashboard/banking/payrollpayment/tables/view_bankfleet_scheduled_consultations_payroll.html" 
                class="bankfleet-sidebar__link">Consultas programadas</a>
            </ul>

        </div>

        <!-- INVERSIONES -->
        <div class="bankfleet-sidebar-principal__group">

            <button class="bankfleet-sidebar-principal__menu-button">

                <span>Inversiones</span>

            </button>

            <ul class="bankfleet-sidebar-principal__submenu">

                <a href="#" class="bankfleet-sidebar__link">Fo de Inversión y Fiducias</a>
                <a href="#" class="bankfleet-sidebar__link">Acci y ETFs</a>
                <a href="#" class="bankfleet-sidebar__link">Certific de Depósito (CDT/CDA)</a>
                <a href="#" class="bankfleet-sidebar__link">-advisors</a>
                <a href="#" class="bankfleet-sidebar__link">Inversi Sostenibles (ESG)</a>
                <a href="#" class="bankfleet-sidebar__link">Herramie de Educación y Análisis</a>

            </ul>

        </div>
        <!-- SEARCH -->
        <div class="bankfleet-sidebar-principal__search">

            <img
                src="/frontend/public/assets/icons/icon_search.svg"
                alt="Buscar"
                class="bankfleet-sidebar-principal__search-icon">

            <input
                type="text"
                placeholder="Buscar operación..."
                class="bankfleet-sidebar-principal__search-input">

        </div>

    </nav>

</aside>