<div class="bankfleet-filter-overlay"></div>
<aside class="bankfleet-filter-drawer">
    <div class="bankfleet-filter-drawer__header">
        <div class="bankfleet-filter-drawer__profile">
            <div class="bankfleet-filter-drawer__avatar">
                <img src="/frontend/public/assets/icons/icon_filter_white.svg" class="bankfleet-employee-create__input-icon" alt="">
            </div>
            <div class="bankfleet-filter-drawer__user">
                <h3 class="bankfleet-filter-drawer__name">Filtrar</h3>
                <span class="bankfleet-filter-drawer__role">
                    ocultar temporalmente los datos que no necesitas y mostrar únicamente aquellos que cumplen con ciertas condiciones
                </span>
            </div>
        </div>
        <button class="bankfleet-filter-drawer__close">✕</button>
    </div>
    <div class="bankfleet-filter-drawer__body">
       <div class="bankfleet-employee-create__field">
            <label class="bankfleet-employee-create__label">Tipo de usuario</label>
            <div class="bankfleet-employee-create__input-wrapper">
                <img src="/frontend/public/assets/icons/icon_logs_purple.svg" class="bankfleet-employee-create__input-icon" alt="">
                <select class="bankfleet-employee-create__input">
                    <option class="bankfleet-employee-create__option-content" selected disabled>Todos</option>
                    <option class="bankfleet-employee-create__option-content">Tarjeta Crédito</option>
                    <option class="bankfleet-employee-create__option-content">Cuenta</option>
                    <option class="bankfleet-employee-create__option-content">Cuenta CLABE</option>
                </select>
            </div>
        </div>
       <div class="bankfleet-employee-create__field">
            <label class="bankfleet-employee-create__label">Tipo de alta</label>
            <div class="bankfleet-employee-create__input-wrapper">
                <img src="/frontend/public/assets/icons/icon_logs_purple.svg" class="bankfleet-employee-create__input-icon" alt="">
                <select class="bankfleet-employee-create__input">
                    <option class="bankfleet-employee-create__option-content" selected disabled>Selecciona</option>
                    <option class="bankfleet-employee-create__option-content">Línea</option>
                    <option class="bankfleet-employee-create__option-content">Archivo</option>
                </select>
            </div>
        </div>
       <div class="bankfleet-employee-create__field">
            <label class="bankfleet-employee-create__label">Banco</label>
            <div class="bankfleet-employee-create__input-wrapper">
                <img src="/frontend/public/assets/icons/icon_logs_purple.svg" class="bankfleet-employee-create__input-icon" alt="">
                <select class="bankfleet-employee-create__input">
                    <option class="bankfleet-employee-create__option-content" selected disabled>Selecciona</option>
                    <option class="bankfleet-employee-create__option-content">BBVA Colombia</option>
                    <option class="bankfleet-employee-create__option-content">Bancolombia</option>
                    <option class="bankfleet-employee-create__option-content">Davivienda</option>
                    <option class="bankfleet-employee-create__option-content">Banco de Bogotá</option>
                    <option class="bankfleet-employee-create__option-content">Banco Popular</option>
                    <option class="bankfleet-employee-create__option-content">Banco Agrario</option>
                </select>
            </div>
        </div>
    </div>
    <div class="bankfleet-filter-drawer__footer">
        <a href="/" class="bankfleet-btn-secondary bankfleet_manage_groups-table__btn-secondary"> Cerrar Sesión
            <img src="/frontend/public/assets/icons/icon_close_session_white.svg" alt="" class="bankfleet-btn-secondary__icon bankfleet_manage_groups-table__btn-secondary-icon">
        </a>
        <button type="button" class="bankfleet-btn bankfleet-btn--primary"> Ingresar a BANKFLEET
            <img src="/frontend/public/assets/icons/icon_next-white.svg" alt="" class="bankfleet-btn__icon">
        </button>
    </div>
</aside>