<!-- ================== Administración de Destinatarios ================== -->

<section class="bankfleet-recipients">

<div class="bankfleet-recipients__header">

    <div class="bankfleet-recipients__header-container">

        <a
            href="/"
            class="bankfleet-btn-secondary bankfleet-transactions__btn-secondary">

            <img
                src="/frontend/public/assets/icons/icon_back.svg"
                alt=""
                class="bankfleet-btn-secondary__icon bankfleet-transactions__btn-secondary-icon">
        </a>

        <div class="bankfleet-recipients__content">

            <div class="bankfleet-recipients__title-container">

                <h1 class="bankfleet-recipients__title">
                    Destinatarios
                </h1>

            </div>

            <p class="bankfleet-recipients__subtitle">
                Administra los destinatarios frecuentes para realizar transferencias rápidas y seguras.
            </p>

        </div>

    </div>

    <button
        type="button"
        class="bankfleet-btn bankfleet-btn--primary">

        Nuevo destinatario

        <img
            src="/frontend/public/assets/icons/icon_sum_white.svg"
            alt=""
            class="bankfleet-btn__icon">

    </button>

</div>
<div class="class bankfleet-transactions__separeitor-actions">
    <div class="bankfleet-transactions__search">

        <img
            src="/frontend/public/assets/icons/icon_search.svg"
            alt="Buscar"
            class="bankfleet-transactions__search-icon">

        <input
            type="text"
            placeholder="Buscar operación..."
            class="bankfleet-transactions__search-input">

    </div>
    <div class="class bankfleet-transactions__separeitor-actions-buttons">
        <div class="bankfleet-recipients__favorite-box">

            <input
                type="checkbox"
                id="favorites"
                class="bankfleet-recipients__favorite-checkbox">

            <label
                for="favorites"
                class="bankfleet-recipients__favorite-label">

                Mostrar favoritos

            </label>

        </div>
        <a
            href="/"
            class="bankfleet-btn-secondary bankfleet-transactions__btn-secondary">

            <img
                src="/frontend/public/assets/icons/icon_filter_white.svg"
                alt=""
                class="bankfleet-btn-secondary__icon bankfleet-transactions__btn-secondary-icon">Filtrar
        </a>
        <a
            href="/"
            class="bankfleet-btn-secondary bankfleet-transactions__btn-secondary">

            <img
                src="/frontend/public/assets/icons/icon_download_white.svg"
                alt=""
                class="bankfleet-btn-secondary__icon bankfleet-transactions__btn-secondary-icon">Descargar
        </a>
    </div>
</div>

        

        

<div class="bankfleet-recipients__table-wrapper">

    <table class="bankfleet-recipients__table">

        <thead>
            <tr>

                <th>
                    <img class="bankfleet-employees__image-options" src="/frontend/public/assets/icons/icon_settings_white.svg">
                </th>

                <th>Alias o Nombre</th>
                <th>Nombre del Titular</th>
                <th>Información de Destino</th>
                <th>Banco</th>
                <th>Favorito</th>
                <th>Estado</th>

            </tr>
        </thead>

        <tbody>

            <!-- DESTINATARIO 1 -->

            <tr>

                <td data-label="Opciones">
                    <img
                        class="bankfleet-employees__image-options" src="/frontend/public/assets/icons/icon_option_points_black.svg">
                </td>

                <td data-label="Alias o Nombre">

                    <div class="recipient">

                        <div class="recipient__avatar">
                            MC
                        </div>

                        <div class="recipient__info">

                            <span class="recipient__alias">
                                Mi Casero
                            </span>

                            <span class="recipient__detail">
                                Destinatario frecuente
                            </span>

                        </div>

                    </div>

                </td>

                <td data-label="Nombre del Titular">
                    Carlos Martínez
                </td>

                <td data-label="Información de Destino">
                    Cuenta Ahorros • 45896587412
                </td>

                <td data-label="Banco">
                    Bancolombia
                </td>

                <td data-label="Favorito">

                    <span class="recipient-favorite">
                        ★ Sí
                    </span>

                </td>

                <td data-label="Estado">

                    <span class="recipient-status recipient-status--verified">
                        Verificado
                    </span>

                </td>

            </tr>

        </tbody>

    </table>

</div>

</section>
<!-- <td data-label="Acciones">

    <div class="recipient-actions">

        <button class="recipient-action recipient-action--transfer">
            Transferir
        </button>

        <button class="recipient-action recipient-action--edit">
            Editar
        </button>

        <button class="recipient-action recipient-action--delete">
            Eliminar
        </button>

    </div>

</td> -->