<div class="bankfleet-filter-overlay"></div>

<aside class="bankfleet-filter-drawer">

    <header class="bankfleet-filter-drawer__header">

        <div class="bankfleet-filter-drawer__profile">

            <div class="bankfleet-filter-drawer__avatar">
                <img
                    src="/frontend/public/assets/icons/icon_filter_white.svg"
                    alt="Filtrar"
                    class="bankfleet-filter-drawer__avatar-icon">
            </div>

            <div class="bankfleet-filter-drawer__user">

                <h2 class="bankfleet-filter-drawer__title">
                    Filtrar
                </h2>

                <p class="bankfleet-filter-drawer__description">
                    Oculta temporalmente los datos que no necesitas y muestra únicamente aquellos que cumplen determinadas condiciones.
                </p>

            </div>

        </div>

        <button
            type="button"
            class="bankfleet-filter-drawer__close"
            aria-label="Cerrar filtros">

            ✕

        </button>

    </header>


    <div class="bankfleet-filter-drawer__body">

        <div class="bankfleet-login__field">
            <label class="bankfleet-login__label">Correo electrónico</label>
            <div class="bankfleet-login__input-wrapper">
                <img src="/frontend/public/assets/icons/icon_email.svg" alt="" class="bankfleet-login__input-icon">
                <input type="email" class="bankfleet-login__input" placeholder="correo@bankfleet.com">
            </div>
        </div>

        <!-- Fecha de alta -->
         <label class="bankfleet-filter-drawer__label">Fecha de alta</label>
        <div class="bankfleet-filter-drawer__field">
            <label class="bankfleet-filter-drawer__label">Desde</label>
            <div class="bankfleet-filter-drawer__input-wrapper">
                <img src="/frontend/public/assets/icons/icon_bank_purple.svg " alt="" class="bankfleet-filter-drawer__input-icon">
                <input type="date" class="bankfleet-filter-drawer__input" placeholder="Desde">
            </div>
            
        </div>
        <div class="bankfleet-filter-drawer__field">
            <label class="bankfleet-filter-drawer__label">Hasta</label>
            <div class="bankfleet-filter-drawer__input-wrapper">
                <img src="/frontend/public/assets/icons/icon_bank_purple.svg " alt="" class="bankfleet-filter-drawer__input-icon">
                <input type="date" class="bankfleet-filter-drawer__input" placeholder="Hasta">
            </div>

        </div>

        <!-- Banco -->
        <div class="bankfleet-filter-drawer__field">

            <label class="bankfleet-filter-drawer__label">
                Banco
            </label>

            <div class="bankfleet-filter-drawer__input-wrapper">

                <img
                    src="/frontend/public/assets/icons/icon_bank_purple.svg "
                    alt=""
                    class="bankfleet-filter-drawer__input-icon">

                <select class="bankfleet-filter-drawer__input">

                    <option selected>
                        Todos
                    </option>

                    <option>
                        Cuentas propias
                    </option>

                    <option>
                        Terceros
                    </option>

                    <option>
                        BBVA Colombia
                    </option>

                    <option>
                        Bancolombia
                    </option>

                    <option>
                        Davivienda
                    </option>

                    <option>
                        Banco de Bogotá
                    </option>

                    <option>
                        Banco Popular
                    </option>

                    <option>
                        Banco Agrario
                    </option>

                </select>

            </div>

        </div>


    </div>


    <footer class="bankfleet-filter-drawer__footer">

        <button
            type="button"
            class="bankfleet-btn-secondary">

            Limpiar filtros

        </button>


        <button
            type="button"
            class="bankfleet-btn bankfleet-btn--primary">

            Aplicar filtros

            <img
                src="/frontend/public/assets/icons/icon_next-white.svg"
                alt=""
                class="bankfleet-btn__icon">

        </button>

    </footer>


</aside>